body {
  margin: 0px;
}
div.heading {
  border: white solid 1.5px;
  border-radius: 25px;
  width: 20%;
  height: 50%;
  font-size: medium;
  text-align: center;
  margin: auto;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
}
div.top {
  background-color: RGB(195, 68, 122);
  height: 30%;
  padding: 1%;
}
/* @media (max-width: 645px) {
  div.heading {
    border: white solid 1px;
    border-radius: 25px;
    width: 20%;
    font-size: small;
    text-align: center;
    margin: auto;
    word-wrap: normal;
    padding: 10px;
  }
} */
div.sections {
  width: 100%;
}
div.sections > div {
  margin-top: 5px;
}
div.sections h3 {
  float: right;
  margin: -1px;
  border: black solid 1px;
  padding: 5px;
  background-color: chartreuse;
}
#section1,
#section2,
#section3 {
  margin: 3px;
  background-color: cyan;
  border: black solid 1px;
}
p {
  padding: 10px;
}
@media (min-width: 992px) {
  .l-4,
  .m-6 {
    float: left;
  }
  .l-4 {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .l-4,
  .m-6,
  .m-12 {
    float: left;
  }
  .m-6 {
    width: 50%;
  }
  .m-12 {
    width: 100%;
  }
}
@media (max-width: 908px) {
  div.heading {
    border: white solid 1.5px;
    border-radius: 25px;
    width: 20%;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
  }
}
